@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$mainBackgroundColor: #242424;
$mainFontColor: #ffffff;
$colorOrange: #ffa500;
$borderColorContainer:  #8080802b;
$borderColorButton: #808080;
$colorButton: #ece9e9;

@mixin component {
  // margin: 0 10px;
  padding: 10px;
  height: 100%;
  background-color: #c4c4c414;
  border: 1px solid $borderColorContainer;
  border-radius: 5px;
  box-sizing: border-box;
}

@mixin wrapper {
  margin: 10px;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $mainFontColor;
  background-color: $mainBackgroundColor;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  padding: 10px 30px;
  background: rgba(196, 196, 196, 0.15);
  box-shadow: 0px 4px 4px #00000040;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  text-shadow: 0px 4px 4px #00000040;
}

.main {
  padding: 15px 0;
  height: 1px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.list {
  @include wrapper();
  @include component();
  width: 20%;
  overflow: auto;
  .list-control {
    display: flex;
    flex-direction: column;
    .list-search {
      display: flex;
      flex-direction: column;
      .list-search-input{
        margin: 4px 0;
      }
    }
  }
  .list-results {
    display: flex;
    flex-direction: column;
    .list-country-wrapper {
      display: flex;
      .list-country-flag {
        width: 40px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .list-country-name {
        width: 50%;
      }
      .list-country-value {
        width: 30%;
      }
    }
    .found-country-wrapper {
      display: flex;
      background-color: grey;
      border: solid black 1px;
      .found-country-flag {
        width: 40px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .found-country-name {
        width: 50%;
      }
      .found-country-value {
        display: flex;
      }
    }
        .found-country-wrapper:hover {
          cursor:pointer;
          background-color: purple;
        }
  }
}

.map {
  @include wrapper();
  @include component();
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  overflow: overlay;

  &__locations {
    height: 100%;
    background-color: transparent;
  }

  &__info {
    padding: 20px;
    width: 100%;
    background-color: $mainBackgroundColor;    /////////////////////////////
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    box-sizing: border-box;
    // z-index: 1000;
  }

  // &__legend {
  //   height: 200px;
  // }

  &__select {
    margin-bottom: 20px;
    width: 100%;
    color: #fff;
    background: #3f3f3fe3;
    border-radius: 3px;
  }
}

.wrapper {
  @include wrapper();
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table {
  @include component();
  margin-bottom: 10px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .table-control{
    display: flex;
  }
  tbody{
    tr:hover{
      cursor: pointer;
      background-color: grey
    }
  }
}

.chart {
  @include component();
  width: 100%;
}

.footer {
  padding: 10px 30px;
  background: #c4c4c426;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-img {
    width: 100px;
    cursor: pointer;
  }

  &__authors {
    display: flex;

    &-list {
      margin-left: 10px;
    }

    &-link {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover {
        color: $colorOrange;
      }
    }
  }
}

.options {
  &__type {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__value {
    margin-bottom: 10px;
  }

  &__variant {
    padding: 2px;
    display: flex;
    align-items: center;
  }

  &__label {
    cursor: pointer;
  }

  &__input {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $mainBackgroundColor;
      border: 1px solid $mainFontColor;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
    }

    &_checked:after {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      background-color: $colorOrange;
      // border: 1px solid $mainFontColor;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
    }
  }
}

// .marker {
//   width: 30px;
//   height: 30px;
//   background-color: #ff0000;
//   border: none;
//   border-radius: 50%;
//   opacity: 0.5;
// }

.legend {
  &__list-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}

.resize-button {
  width: 25px;
  height: 25px;
  // background-color: $mainBackgroundColor;
  background-color: $colorButton;
  border: 2px solid $colorButton;
  border-radius: 2px;
  box-sizing: border-box;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;
  transition: all 0.2s linear;
  box-shadow: 0 0 20px #000;

  &:hover {
    box-shadow: 0 0 10px $colorOrange;
  }

  &_expand {
    background-image: url(../assets/images/expand.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &_expand {
    background-image: url(../assets/images/expand.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &_reduce {
    background-image: url(../assets/images/reduce.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.expand {
  z-index: 1000;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: $mainBackgroundColor;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
.textarea {
    margin-bottom: 20px;
    width: 99%;
    min-height: 150px;
    resize: none;
}

.button {
    width: 100%;
    margin-bottom: 10px;
    padding: -1px;
    background: #808080;
    border-radius: 5px;
    border: 1px solid #c9c7be85;
}

.button__active {
    background: #ffd04291;
}

.keyboard__wrapper {    
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.keyboard {
    padding: 10px 15px;
    background-color: #707070;
    border: 3px solid #080808;
    border-radius: 5px;
    display: none;
}

.keyboard__visible{
    display: block;
}

.keyboard__row {
    margin: 3px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.keyboard__key {
    margin: 3px;
    padding: 5px;
    width: 50px;
    height: 50px;
    color: #ffe8c4;
    background-color: #464646;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.keyboard__key:hover {
    background-color: #ffb900ad;
}

.keyboard__space {
    max-width: 460px;
    width: 50%;
}

.keyboard__enter, .keyboard__capslock {    
    padding: 0 5px;
    width: 90px;
}

.keyboard__shift {
    padding: 0 5px;
    width: 101px;
}

.keyboard__backspace {
    padding: 0 10px;
    width: fit-content;
}

.keyboard__tab, .keyboard__del {
    padding: 0 5px;
    width: 70px;
}

.keyboard__ctrl {
    width: 60px;
}

.keyboard__sound, .keyboard__speech {
    font-size: 22px;
}

.keyboard__key_active {
    -webkit-animation: size 0.1s linear;
            animation: size 0.1s linear;
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    background-color: #ffb900ad;
}
